.login_block{
    margin: auto; 
    padding: 1em;
    width: 20em;
    height: 15em;
    border-radius: 10%;
    background-color: #c4c4c4;
    align-items: center;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    margin-top: 1em;
}

input{
  width: 75%;
}