.wraper{
  margin: auto; 
  padding: 1em;
  width: 20em;
  height: 15em;
  border-radius: 10%;
  background-color: #c4c4c4;
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin-top: 1em;
}

li {
/* поубирай точечки и поприживай к краям  */
};